body {
    font-family: 'Montserrat', sans-serif;
}
.navelbar{
    background-color: darkslategrey;
    margin-bottom:0px;
    
}
.nav.navbar-nav.navbar-right li a {
    color: antiquewhite;
}

.glyphicon.glyphicon-home{
    color: antiquewhite;
}

/*this is for the main two pictures of places I can't afford to go */
.mainImages{
    height:100%;
    padding-left:0px;
    padding-top:0px;
    padding-right:0px;
    margin-bottom:0px;

}
/*.row.mainImages{
    height:100%;
    float: left;background-image: url('tuscany-villas-sant-anna.jpg');
    float: right; background-image: url('VersiliaMap.jpg');
}*/

.jumbotron > .jumbotronImages{
    z-index:500;
    margin-bottom:0px;
}

.jumbotron > h1 {
    z-index: 800;
    position: relative;
    bottom: 325px;
    color:antiquewhite;
    padding-left:100px;
}

.jumbotron > h3 {
    z-index: 800;
    position: relative;
    bottom: 325px;
    color:antiquewhite;
    padding-left:200px;
}

.sectionHeader{
    background-color:darkslategrey;
    color:antiquewhite;
    text-align:center;
    padding-top:20px;
    padding-bottom:20px;
}

.secondLocation{
    background-color:lightgray;
}
.amenities img{
    z-index:500;
}

.amenities h3{
    z-index:500;
    bottom:300px;
    position:relative;
    padding-left:60px;
    font:bold;
    color:antiquewhite;  
    background-color:dimgrey;
    background-position-x:center;
}


.amenities p{
    text-align:center;
}
.amenities h2{
    text-align:center;
}

.carouselRow{
    text-align:center;
    color:darkslategrey;
}

footer{
    text-align:center;
    background-color:darkslategray;
    color:antiquewhite;
}